html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F4D8CD;
}

.centeringContainer {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Monofett, cursive;
}

.calculatorContainer {
  width: 50vh;
  height: 70vh;
  padding: 5px;

  display: grid;
  grid-template-rows: repeat(5, minmax(10px, 1fr));
  grid-template-columns: repeat(4, minmax(10px, 1fr));
  row-gap: 5px;
  column-gap: 5px;

  background-color: #262626;
}

.calculatorDisplay {
  grid-row: 1;
  grid-column: 1 / 5;

  background-color: #40798C;
}

.calculatorDisplayText {
  width: 170%;
  margin: -3.6vh 0 0 -17.5vh;
  transform: scale(0.6, 1);

  text-align: right;
  font-size: 16vh;
  letter-spacing: .05em;
  color: #262626;
}

.button {
  background-color: #Af5D63;
  text-align: center;
  font-size: 15vh;
  color: #262626;
}

.buttonText {
  margin: -3vh 0 0 0;
}

.longButtonText {
  margin: 3.5vh 0 0 0;
}

.equalsButtonText {
  margin: -2vh 0 0 0;
}
